<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" 
        integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <script src="https://cdn.tailwindcss.com"></script>
    <title>Preemies Journal</title>
</head>
<body class="bg-red-300">
    <!--navbar-->
    
    <section id="hero">
        <!--Flex container-->
        <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
           <!--left item with login info-->

            <div class='flex flex-col mb-32 space-y-12 md:w-1/2'>
                <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">
                    About Me
                </h1>
                <p class="max-w-sm text-center text-fuchsia-900 md:text-left">
                    The Preemies Journal App

                </p>
            
            <div class="flex-row justify-center md:justify-center">
                <a href="/signup" class="p-3 px-6 pt-2 text-black bg-fuchsia-300 rounded-full baseline hover:bg-violet-900">Get Started</a>
                <a href="/login" class="p-3 px-6 pt-2 text-black bg-violet-300 rounded-full baseline hover:bg-purple-700">Login</a>
                <a href="/" class="p-3 px-6 pt-2 text-black bg-fuchsia-300 rounded-full baseline hover:bg-violet-900"><i class="fa-solid fa-house-user"></i></a>

            </div>
            
            
            </div>
            <!--image-->
            <div class="md:w-1/2">
                <img src="imgs/logo.png" alt="">
            </div>
        </div>
    </section>

                    <!--features section-->
            <section id="features">
                                <!--flex container-->
                <div class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">

                <!--about premie day-->
                <div class="flex flex-col space-y-12 md:w-1/2">
                    <h2 class="max-w-md text-3xl font-bold text-center md:text-left">
                        Who I am & what I do
                    </h2>
                    <p class="max-w-sm text-center text-black md:text-left ">
                        My name is Loveth. I am a software developer based in Edmonton, Alberta Canada.
                        I’ve worked as a registered nurse for the past 4.5 years. I spent my first year in the adult population and then Women’s Health dealing with high risk pregnancies and postpartum care.
                        
                        However, the bulk of my experience has been in the Neonatal Intensive care with a population ranging from 22-42 weeks gestation. As a big lover of kids and all things baby, working directly with this population inspired the creation of this app.
                    </p>
                </div>
                    <!--Numbered List-->
                         
                <div class="flex flex-col space-y-8 md:w-1/2">
                    <!--List Item 1-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            01
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                            The Goal of The Preemies Journal App
                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        The Goal of The Preemies Journal App
                                    </h3>
                                    <p class="text-violet-900">
                                        The NICU experience can be quite challenging for the baby(s) and family.
                                        My goal for this app was to create a shared space for families to document their experience in one place that is easily accessible for future reference, gain insight from the shared  experience of others and find a community that understands and supports their journey.

                                    </p>
                                </div>
                            </div>

                            <!--List Item 2-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            02
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                            The Theme
                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        The Theme
                                    </h3>
                                    <p class="text-violet-900">
                                        
                                        The purple theme for this project represents and supports World Prematurity Day which falls on November 17 every year. Events usually occur around this time to share latest research and celebrate our preemies.

                                    </p>
                                </div>
                            </div>

                            <!--List Item 3-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            03
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                           Connect with me

                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        Connect with me

                                    </h3>
                                    <p class="text-violet-900">
                                        You can find more of my projects via my <a href="https://lovethw.com" class="text-orange-900 ">My Website</a> and <a href="https://github.com/LovethTee" class="text-red-900">GitHub<i class="fa-brands fa-github"></i></a>.
                                    
                                        Would love to hear your thoughts and suggestions to improve this app.

                                        

                                    </p>
                                    <p class="text-gray-900"> <i class="fa-solid fa-face-smile"> Cheers!</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>








    
    </body>
</html>




        
      
   

