<%- include('partials/header') -%>

<h4 class="text-purple-900 text-xl text-center m-10 font-bold mb-10">Edit Story<i class="fa-solid fa-pen-to-square"></i></h4>
<div class="row">
    <form action="/edit/editJournal/<%= journal._id%>" method="POST" class="p-12 m-10 gap-4 flex flex-col justify-center bg-purple-300 rounded-2xl shadow-lg max-w-4xl items-center ">
      <div class=" text-2xl text-white w-full">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                
                <label for="title" class="form-label text-2xl text-orange-900">Title</label><%= journal.title%>
                <input type="text" class="form-control" id="title" name="title">
            </div>

        </div>

        
        <div class="row">
            <div class="input-field justify-center flex">
              <label for="caption" class="form-label text-2xl text-orange-900">Edit Your Story</label>
               <textarea class="form-control bg-violet-400 w-100 max-w-4xl  p-5 space-y-3 " id="caption" name="caption"></textarea><%= journal.caption%>
            </div>
        </div>
        <div class=" flex flex-row mt-32">
          <button class="bg-fuchsia-900 font-bold rounded-xl text-white px-5 py-2 justify-center items-center hover:bg-red-400 mt-4 mb-4 ">SUBMIT</button>
          <a href="/profile" class="btn pink">Cancel</a>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            
        </div>
    </form>
            
</div>

