<%- include('partials/header') -%><%- include('partials/addBtn') -%>

    <body class="bg-violet-300"> 
      <div class="container mt-4 flex-row mx-auto mb-10 px-2 ">
        <button class="bg-fuchsia-300 hover:bg-purple-700 text-black font-bold py-2 px-4 rounded"><a href="/profile">Return to Profile</a></button>
        <button class="bg-red-400 hover:bg-red-300 text-white font-bold py-2 px-4 rounded"><a href="/logout">Logout</a></button>
      </div>
  
          <main id="site-main">
            <div class="container">
              <div class="box-nav d-flex-justify-between mb-10 text-center">
                <a href="/" class="border-shadow ">
                  <span class="text-gradient text-4xl p-5 mb-10 ">Feed <i class="fa-solid fa-users"></i></i></span>
                </a>
              </div>
              <form action="/" method="POST">
                <table class="table">
                  <thead class="thead-dark bg-purple-300 b-purple-900  text-xl">
                    <tr>
                      <th>Name</th>
                      <th>Title</th>
                      <th>Date </th>
                      <th>Image</th>
                      <th>Story</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="hover:bg-fuchsia-300">
                      <td >Test</td>
                      <td>Baby #1</td>
                      <td>Dec 7/22</td>
                      <td>baby.png</td>
                      <td>test test</td>
                      <td>
                        <a href="#" class="btn-border  update p-1 hover:bg-red-300">
                          <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
                        </a>
                        <a href="#" class="btn-border  update p-1 hover:bg-red-400">
                          <span class="text-gradient"><i class="fa-solid fa-trash"></i></i></span>
                        </a>
                      </td>
                  

                    </tr>

                  </tbody>
                </table>
              </form>
            </div>
          </main>






  


</body>









 