
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" 
        integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <script src="https://cdn.tailwindcss.com"></script>
    <title>Preemies Journal </title>
</head>
<body class="bg-violet-300">
    <!--navbar-->
    
    <section id="hero">
        <!--Flex container-->
        <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
           <!--left item with login info-->

            <div class='flex flex-col mb-32 space-y-12 md:w-1/2'>
                <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">
                    Welcome to The Preemies Journal
                </h1>
                <p class="max-w-sm text-center text-fuchsia-900 md:text-left">
                    In honour of World Prematurity Day, this app provides a space for families to document their experience.

                </p>
            
            <div class="flex-row justify-center md:justify-center">
                <a href="/signup" class="p-3 px-6 pt-2 text-white bg-fuchsia-900 rounded-full baseline hover:bg-violet-700">Get Started</a>
                <a href="/login" class="p-3 px-6 pt-2 text-white bg-violet-900 rounded-full baseline hover:bg-purple-700">Login</a>

            </div>
            
            
            </div>
            <!--image-->
            <div class="md:w-1/2">
                <img src="imgs/baby.jpg" alt="">
            </div>
        </div>
    </section>

                    <!--features section-->
            <section id="features">
                                <!--flex container-->
                <div class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">

                <!--about premie day-->
                <div class="flex flex-col space-y-12 md:w-1/2">
                    <h2 class="max-w-md text-3xl font-bold text-center md:text-left">
                        World Prematurity Day (Nov 17)
                    </h2>
                    <p class="max-w-sm text-center text-black md:text-left ">
                        According to research, 1 in 10 babies are born prematurely.
                    </p>
                </div>
                    <!--Numbered List-->
                         
                <div class="flex flex-col space-y-8 md:w-1/2">
                    <!--List Item 1-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            01
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                            The NICU Experience
                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        The NICU Experience
                                    </h3>
                                    <p class="text-violet-900">
                                        The Neonatal ICU is a high intensity area in the hospital reserved for extremely premature babies needing developmental support to transition outside the womb. This transition period can be extremely difficult for both baby and mom given the unexpected birth. 

                                        This journal provides a space for families to document their experiences and to find a community that understands and supports their journey.

                                    </p>
                                </div>
                            </div>

                            <!--List Item 2-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            02
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                            Population
                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        Population
                                    </h3>
                                    <p class="text-violet-900">
                                        
                                        The usual population in this sector include; babies born preterm (>23weeks to 37 weeks gestation). Ill or late term (37-42 weeks gestation) babies can also be found in this population as well.
                                    </p>
                                </div>
                            </div>

                            <!--List Item 3-->
                            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                                <!--Heading-->
                                <div class="rounded-l-full bg-violet-400 md:bg-transparent">
                                    <div class="flex items-center space-x-2">
                                        <div class="px-4 py-2 text-red-900 rounded-full md:py-1 bg-violet-300">
                                            03
                                        </div>
                                        <h3 class="text-base font-bold md:mb-4 md:hidden">
                                            Reasons for Stay

                                        </h3>

                                    </div>
                                </div>
                                <div>
                                    <h3 class="hidden mb-4 text-lg-font-bold md:block">
                                        Reasons for Stay

                                    </h3>
                                    <p class="text-violet-900">
                                        Conditions requiring special care eg. extremely premature, extremely low birth weight, multiple births, respiratory support, cardiac support, growth, poor feeding, infection, jaundice etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <div class=" flex flex-row mt-32 justify-center  p-12">
                <button class="bg-fuchsia-400 font-bold rounded-xl text-black px-5 py-2 justify-center items-center hover:bg-red-400 mt-4 mb-4 block"><a href="/about">About Us</a></button>
                <button class="bg-purple-300 font-bold rounded-xl text-black px-5 py-2 justify-center items-center hover:bg-red-400 mt-4 mb-4 block"><a href="#">Help <i class="fa-solid fa-circle-info"></i></a></button>
          </div>
    </body>
</html>




        
      
   

