@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Aref+Ruqaa+Ink&family=Diplomata+SC&family=Gentium+Book+Plus:ital@1&family=Merriweather&family=Mingzat&family=Mukta&family=Nerko+One&family=Noto+Sans+Display&family=Roboto+Slab&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align:center;
    color:blueviolet;
}

p{
  font-family: 'Ubuntu', sans-serif ;
}
a, span{
  font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h5{
  font-family: 'Merriweather', serif;
}
label, input{
  font-family: 'Nerko One', cursive;
}
span, h4 {
  font-family: 'Noto Sans Display', sans-serif;

}
h4{
  font-family: 'Mingzat', sans-serif;

}